@font-face {
  font-family: 'ITC Garamond Std';
  src: url(../fonts/ITCGaramondStd-LtCond.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ITC Garamond Std';
  src: url(../fonts/ITCGaramondStd-LtCondIta.otf);
  font-weight: 300;
  font-style: italic;
}

body {
  color: black;
  font-weight: 300;
  background: #F1F1F1;
  font-family: 'Inter', Helvetica, sans-serif;
  line-height: 1.7;
  min-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3, h4 {
  font-family: 'ITC Garamond Std', serif;
  font-style: normal;
  padding: 0 1rem;
}

h1 {
  font-size: 5rem;
  margin: 6rem 0 4rem;
  font-weight: 300; 
}

h1 span {
  font-style: italic;
}

p {
  font-size: .92em;
  margin: 0;
  padding: 0 1rem;
  max-width: 50%;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

a:active ,
a:hover {
  color: #e84fff;
}

::-moz-selection { background: #FFCCFF; }
::selection { background: #FFCCFF; }

.uppercase {
  text-transform: uppercase;
  font-size: .65em;
  letter-spacing: 0.1em;
}

footer {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: .5rem;
}

section {
  padding: 10rem 0 16rem;
  /* margin-bottom: 4rem; */
}

#about p {
  font-size: 1rem;
  padding-bottom: .75rem;
  padding-right: 2rem;
}

/* NAV */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px black;
	background: #F1F1F1;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	z-index: 20;
}
nav ul {
	display: flex;
	list-style-type: none;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
}
/* END NAV */


/* WORK */
.project div {
  display: flex;
  z-index: 2;
  width: 50%;
}

.project .info {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  padding: .5rem 1rem;
}

.project .info p {
  padding: 0;
}

.project .info .tags,
.project .info .link {
  color: black;
  width: 30%;
}

.project .cover {
  display: none;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3rem);
  padding: 2rem;
  z-index: 10;
  width: 50%;
	position: fixed;
  top: 3rem;
  right: 0;
  background: #101010;
}

.project .cover .cover-img {
  display: block;
  max-width: calc(100% - 2rem);
  max-height: calc(100vh - 7rem);
}

.project .info:hover {
  background-color: #FFD6FF;
  cursor: pointer;
}

.project:hover .cover,
.project:active .cover {
  display: flex;
}

.images-bg {
  background: #101010;
  height: calc(100vh - 3rem);
  position: fixed;
  width: 50%;
  top: 3rem;
  right: 0;
}
/* END WORK */