/* NORMALIZE */
* { box-sizing: border-box; }
html { scroll-behavior: smooth; -webkit-text-size-adjust: 100%; }
main { display: block; }
a { background-color: transparent; }
img { border-style: none; }

body {
  margin: 0;
  height: 100%;
  background: #F1F1F1;
  color: black;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1 { 
  font-size: 4rem;
  margin-bottom: 7.5rem;
  padding-left: 1rem;
}

h2 { 
  font-size: 3rem;
  margin-bottom: 5rem;
}

p {
  font-size: .9rem;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:active,
a:hover { 
  color: #e84fff; 
}

a.external {
  display: inline-flex;
    align-items: center;
}
a.external::after {
  content: "";
  background-image: url('../img/ic-external.svg');
  background-size: .7rem .7rem;
  margin-left: .25em;
  height: .7rem;
  width: .7rem;
  display: inline-block;
}
a.external:hover::after {
  background-image: url('../img/ic-external-pink.svg');
}

/* Custom selection */
::-moz-selection { background: #FFCCFF; }
::selection { background: #FFCCFF; }

section { 
  padding: 8rem 1rem;
  min-height: calc(100vh - 3rem);
  max-width: 50%;
  
}

section#work { 
  padding: 8rem 0 1rem;
  min-height: none;
}

.uppercase {
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 0.1em;
}

/* Nav */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px black;
	background: #F1F1F1;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	z-index: 20;
}
nav a {
  line-height: 1rem;
}
nav ul {
	display: flex;
	list-style-type: none;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
  align-items: center;
}

/* About */
section#about { 
  padding: 5rem 1rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#about p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  padding-bottom: 1rem;
}
section#about img { 
  margin-left: auto;
  margin-top: 3rem;
  pointer-events: none
}

/* WORK */
.project div {
  display: flex;
  z-index: 2;
  /* width: 50%; */
}

.project .info {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  padding: .5rem 1rem;
}

.project .info p {
  padding: 0;
}

.project .info .tags,
.project .info .link {
  color: black;
  width: 30%;
}

.project .cover {
  display: none;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3rem);
  padding: 2rem;
  z-index: 10;
  width: 50%;
	position: fixed;
  top: 3rem;
  right: 0;
  background: #101010;
}

.project .cover .cover-img {
  display: block;
  max-width: calc(100% - 2rem);
  max-height: calc(100vh - 7rem);
}

.project .info:hover {
  background-color: #FFD6FF;
  cursor: pointer;
}

.project:hover .cover,
.project:active .cover {
  display: flex;
}

.images-bg {
  background: #101010;
  height: calc(100vh - 3rem);
  position: fixed;
  width: 50%;
  top: 3rem;
  right: 0;
}

footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
  padding: .5rem;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .social {
  display: flex;
  flex-wrap: wrap;
}
.contact .social a {
  margin-right: -1.25rem;
}

/* Color svg */
.contact a:hover { z-index: 10;}
.contact a path {  fill: none; }

.contact a.github:hover path,
.contact a.github:active path,
.contact a.github:focus path { fill: #24292F; }

.contact a.twitter:hover path,
.contact a.twitter:active path,
.contact a.twitter:focus path { fill: #489BE9; }

.contact a.goodreads:hover path,
.contact a.goodreads:active path,
.contact a.goodreads:focus path { fill: #DBD6BD; }

.contact a.dribbble:hover path,
.contact a.dribbble:active path,
.contact a.dribbble:focus path { fill: #E74D89; }


/* footer */
footer p {
  font-size: .7rem;
}

@media only screen and (max-device-width: 736px) { 
  .images-bg {
    display: none;
  }
  h2 {
    font-size: 2.5rem;
  }
  h1 {
    padding-left: .5rem;
  }
  nav {
    padding: 0 .5rem;
  }
  section {
    min-width: 100%;
  }
  section#about {
    padding: 5rem .5rem .5rem;
    min-height: 100vh;
  }
  section#about p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-right: 0;
  }
  .project .info {
    flex-direction: column;
    padding: .5rem;
  }
  .project .info .tags, 
  .project .info .link {
    width: fit-content;
  }
  .project .info .date {
    position: absolute;
    right: .5rem;
  }
  .project .cover {
    position: initial;
    padding: 1rem 0;
    width: 100%;
    height: auto;
  }
  .project:hover .cover
  .project:active .cover {
    display: block;
  }
  .project .cover .cover-img {
    margin: auto;
    max-height: none;
  }  
  .contact .social a {
    margin-bottom: -1.25rem;
  }
  footer {
    width: 100%;
  }
}
