/* NORMALIZE */
* { box-sizing: border-box; }
html { scroll-behavior: smooth; -webkit-text-size-adjust: 100%; }
img { border-style: none; }

/* Custom selection */
::-moz-selection { background: #FFCCFF; }
::selection { background: #FFCCFF; }

/* Styles */

body {
  background: #F1F1F1;
  color: #000;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 0;
}

.nav {

}

h1 {
  max-width: 24rem;
  color: #000;
  text-align: center;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6rem;
}

p {
  color: #24292F;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:active,
a:hover { 
  color: #e84fff; 
}

/* Nav */
.nav {
  display: flex;
  width: fit-content;
  padding: .75rem 1.5rem;
  margin: .25rem auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  background: rgba(241, 241, 241, 0.40);
  /* background: pink; */
  backdrop-filter: blur(16px);
}
.nav a {
  width: 4rem;
  text-align: center;
}

#about {
  max-width: 400px;
  display: none;
}

#about p {
  margin-bottom: 1rem;
}

/* WORK */
#work {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  max-width: 20rem;
  justify-content: center;
}

.tag {
  padding: 3px 12px 4px;
  border-radius: 1rem;
  border: 1px solid #CBCBCB;
  background: #E7E7E7;
  color: #000;
  text-align: center;
  font-size: .9rem;
  line-height: normal;
}

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  margin-bottom: 1.5rem;
}

.card img {
  border-radius: 1.5rem;
  width: 30rem;
  max-width: 100%;
  height: 32rem;
  background: #0d0d0d;
  object-fit: contain;
}

.card img.cover {
  object-fit: cover;
}

.card:nth-of-type(3n-7) {
  margin-top: -5rem;
}


/* Contact */
.contact {
  display: flex;
  gap: -1rem;
}

.contact a {
  margin: 0 -.3rem;
}

.contact a:hover { 
  z-index: 10; 
}

.contact a path { 
  fill: none; 
}

.github:hover path,
.github:active path,
.github:focus path { fill: #24292F; }

.twitter:hover path,
.twitter:active path,
.twitter:focus path { fill: #000; }

.goodreads:hover path,
.goodreads:active path,
.goodreads:focus path { fill: #DBD6BD; }

.store:hover path,
.store:active path,
.store:focus path { fill: #FFD6FF; }

.substack:hover path,
.substack:active path,
.substack:focus path { fill: #ff7b3a; }

@media only screen and (min-device-width: 1280px) {
  body,
  #work {
    gap: 7.5rem;
  }
}

@media only screen and (max-device-width: 736px) { 

}
