/* NORMALIZE */
* { box-sizing: border-box; }
html { scroll-behavior: smooth; -webkit-text-size-adjust: 100%; }
img { border-style: none; }

/* Custom selection */
::-moz-selection { background: #FFCCFF; }
::selection { background: #FFCCFF; }

/* Styles */

body {
  background: #F1F1F1;
  color: #000;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin: 0;
}


p {
  color: #24292F;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:active,
a:hover { 
  color: #e84fff; 
}

/* Nav */
.nav {
  display: flex;
  width: fit-content;
  padding: .75rem 1.5rem;
  margin: .25rem auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  background: rgba(241, 241, 241, 0.40);
  background: pink;
  backdrop-filter: blur(16px);
}
.nav a {
  width: 4rem;
  text-align: center;
}

#about {
  max-width: 400px;
}
#about p {
  margin-bottom: 1rem;
}

/* WORK */
.tags {
  display: flex;
  gap: .5rem;
}

.tag {
  padding: 3px 12px 4px;
  border-radius: 1rem;
  border: 1px solid #CBCBCB;
  background: #E7E7E7;
  color: #000;
  text-align: center;
  font-size: .9rem;
  line-height: normal;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  /* grid-row-gap: 16px;   */
}

.card {
  width: 100%;
  margin-bottom: 1.5rem;
}

.card img {
  border-radius: 1.5rem;
  width: 30rem;
  max-width: 100%;
  height: 32rem;
  /* height: 10rem; */
  object-fit: cover;
}

.card:nth-of-type(3n-7) {
  margin-top: -5rem;
}


/* Contact */
.contact {
  display: flex;
  gap: -1rem;
}

.contact a {
  margin: 0 -.3rem;
}

.contact a:hover { 
  z-index: 10; 
}

.contact a path { 
  fill: none; 
}

.github:hover path,
.github:active path,
.github:focus path { fill: #24292F; }

.twitter:hover path,
.twitter:active path,
.twitter:focus path { fill: #000; }

.goodreads:hover path,
.goodreads:active path,
.goodreads:focus path { fill: #DBD6BD; }

.store:hover path,
.store:active path,
.store:focus path { fill: #FFD6FF; }


@media only screen and (max-device-width: 960px) {

}

@media only screen and (max-device-width: 736px) { 

}
