<section id="about">
	<div>
    <p>Deadpine is a designer working at the intersection of product design and brand identity. Since 2017, she has been actively involved in the crypto space. She was the lead designer at <a href="https://openzeppelin.com/" target="_blank">OpenZeppelin</a> and worked with projects such as <a href="https://flashbots.net/" target="_blank">Flashbots</a>, <a href="http://ethlatam.org/" target="_blank">ETHLatam</a>, <a href="https://decentraland.org/" target="_blank">Decentraland</a>, <a href="https://app.rewilder.xyz/donation/27" target="_blank">Rewilder</a>, <a href="https://app.exact.ly/" target="_blank">Exactly</a>, and <a href="https://mint.ethernautdao.io/#about" target="_blank">Ethernaut DAO</a></p>
    <p>Aside from a background in design she has experience in frontend, HTML, CSS, React, and Svelte.</p>
  </div>
  <img class="logo" width="290" height="160" src="/img/logo-outline.svg" alt="deadpine's logo outlined" />
</section>