<section id="about">
	<h1>Deadpine</h1>
	<p>I'm a designer working at the intersection of product design and brand identity. Since 2017 I’ve been working in the crypto space. I was the lead designer at <a href="https://openzeppelin.com/" target="_blank">OpenZeppelin</a> and worked with projects like <a href="https://flashbots.net/" target="_blank">Flashbots</a>, <a href="http://ethlatam.org/" target="_blank">ETHLatam</a>, <a href="https://decentraland.org/" target="_blank">Decentraland</a>, <a href="https://app.rewilder.xyz/#" target="_blank">Rewilder</a> and <a href="https://mint.ethernautdao.io/#about" target="_blank">Ethernaut DAO</a>.</p>
	<p>Aside from a background in UI and branding I have experience in frontend, HTML, CSS, React and Svelte.</p>
</section>