<section id="work">
	<h1>Work</h1>

	{% for post in site.posts %}
	<div class="project">
		<!-- <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
		<div class="info">
					<p class="link">{{ post.title }}</p>
			<div class="tags">
				{% for tag in post.tags %}
					<p class="tag">{{ tag }}</p>
				{% endfor %}
			</div>
			<p class="date">{{ post.date | date: "%Y" }}</p>
		</div>

		<div class="cover">
			<img class="cover-img" src="{{ post.image }}" />
		</div>
	</div>
	{% endfor %}
	<div class="images-bg"></div>
</section>