<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <h1>Work <span>(all)</span></h1>

    <div>
        {% for post in site.posts limit:20 %}
        <div class="project">
            <!-- <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
            <div class="info">
                <p>{{ post.title }}</p>
                <p>{{ post.categories }}</p>
                <p class="post-meta">{{ post.date | date: "%Y" }}</p>
            </div>
            <div class="cover">
                <img class="cover-img" src="{{ post.image }}" />
            </div>
        </div>
        {% endfor %}
        <div class="images-bg"></div>
    </div>
  </body>
</html>