<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
    <div class="content">
      {{ content }}
    </div>

    <div class="work">
        {% for post in site.posts %}
        <div class="project">
            <!-- <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
            <div class="info">
                <a class="link">{{ post.title }}</a>
                <p class="tags">{{ post.tags }}</p>
                <p class="date">{{ post.date | date: "%Y" }}</p>
            </div>
            <div class="cover">
                <img class="cover-img" src="{{ post.image }}" />
            </div>
        </div>
        {% endfor %}
        <div class="images-bg"></div>
    </div>
  </body>
</html>